<p>
Your task is to simulate a flood damage.
</p>

<p>
You are given a cross-section diagram (a string).
It represents slopes and flatlands by <b class="code">'/'</b>, <b class="code">'\'</b> and <b class="code">'_'</b> respectively. For example, the region of the following picture is shown by a string <b class="code">"/\\///\_/\/\\\\/_/\\///__\\\_\\/_\/_/"</b>.
</p>
<p>
Assume that the rain is falling endlessly and the water overflowing from the region is falling into the sea from both sides.
In the following example the rain will create floods in <b class="code">4, 2, 1, 19</b> and <b class="code">9</b> areas respectively.
</p>
<p>
You should return {% if is_js %}an array{% else %}a list or other Iterable (tuple, iterator, generator){% endif %} of the numbers of floods from the left side of the cross-section diagram.
If there aren’t any  floods, return <b class="code">[]</b> (or an empty Iterable).
</p>

<p style="text-align: center;">
    <img  title="example" src='{{MEDIA}}example_01.png' alt="example" style="max-height: 300px"/>
</p>

<div class="for_info_only">
    <p><strong>Examples:</strong></p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p><strong>Input:</strong> A cross-section diagram (a string).</p>

<p><strong>Output:</strong> The numbers of floods as {% if is_js %}array of numbers{% else %}list or other Iterable (tuple, iterator, generator) of integers{% endif %}.</p>


<!--
<p>
<strong>How it is used:</strong><br>
</p>
-->

<p>
<strong>Precondition:</strong><i>1 &le; len(diagram) &le; 500</i>
</p>

<p><i>The mission was taken from <a target="_blank" href="http://judge.u-aizu.ac.jp/onlinejudge/description.jsp?id=ALDS1_3_D">AIZU ONLINE JUDGE(ALDS1_3_D: Areas on the Cross-Section Diagram).</a></i></p>
