<p>
В этой задаче требуется оценить ущерб от наводнения. 
</p>

<p>
Даётся схема поперечного сечения участка ландшафта (в виде строки).
Символы <b class="code">'/'</b> и <b class="code">'\'</b> представляют собой наклонные участки ландашфта, <b class="code">'_'</b> - плоские. Приведённая на изображении ниже область описывается строкой <b class="code">r"/\\///\_/\/\\\\/_/\\///__\\\_\\/_\/_/"</b>. Обратите внимание, что одиночный обратный слеш "\" <a target="_blank" href="https://www.w3schools.com/python/gloss_python_escape_characters.asp" >экранирует</a> следующий за ним символ. Поэтому, чтобы получить обратный слэш просто как символ без специальной функциональности, необходимо каждый нужный символ обратного слэша экранировать другим символом или использовать "сырую" строку.
</p>
<p>
Считается, что дождь идёт непрерывно и затапливает все низменности, а с обеих сторон каждой из схем находится море, куда стекает лишняя вода.
В примере ниже дождь затопит все низины, и количество затопленных клеток составит <b class="code">4, 2, 1, 19</b> и <b class="code">9</b>.
</p>
<p>
Написанная функция должна возвращать {% if is_js %}массив{% else %}список или другой итерируемый обьект (кортеж, итератор, генератор{% endif %} с количеством затопленных клеток для каждой из низин, слева направо.
Если затопленных клеток нет, необходимо вернуть <b class="code">[]</b> (или пустой итерируемый обьект).
</p>

<p style="text-align: center;">
    <img  title="example" src='{{MEDIA}}example_01.png' alt="example" style="max-height: 300px"/>
</p>

<div class="for_info_only">
    <p><strong>Примеры:</strong></p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

</div>

<p><strong>Входные данные:</strong> Схема поперечного сечения (строка).</p>

<p><strong>Выходные данные:</strong> Количество затопленных клеток (список/итератор, содержащий целые числа).</p>


<!--
<p>
<strong>How it is used:</strong><br>
</p>
-->

<p>
<strong>Предусловие:</strong><i>1 &le; len(diagram) &le; 500</i>
</p>

<p><i>Задача взята отсюда: <a target="_blank" href="http://judge.u-aizu.ac.jp/onlinejudge/description.jsp?id=ALDS1_3_D">AIZU ONLINE JUDGE(ALDS1_3_D: Areas on the Cross-Section Diagram).</a></i></p>
