<p>
В этой задаче требуется оценить ущерб от наводнения. 
</p>

<p>
Даётся схема поперечного сечения участка ландшафта (в виде строки).
Символы '/' и '\' представляют собой наклонные участки ландашфта, '_' - плоские. Приведённая на изображении ниже область описывается строкой "/\\///\_/\/\\\\/_/\\///__\\\_\\/_\/_/".
</p>
<p>
Считается, что дождь идёт непрерывно и затапливает все низменности, а с обеих сторон каждой из схем находится море, куда стекает лишняя вода.
В примере ниже дождь затопит все низины, и количество затопленных клеток составит 4, 2, 1, 19 и 9.
</p>
<p>
Написанная функция должна возвращать список (или итератор) с количеством затопленных клеток для каждой из низин, слева направо.
Если затопленных клеток нет, необходимо вернуть [] (или пустой итератор).
</p>
<img src='{{MEDIA}}example_01.png' title='example'>


<div class="for_info_only">
    <p><strong>Примеры:</strong></p>
{% if interpreter.slug == "js-node" %}
<pre class="brush: javascript">
</pre>
{% else %}
<pre class="brush: python" style="font-family:'Courier New',Courier;">
list(flood_area(r'\\//')) == [4]
list(flood_area(r'/\\///\_/\/\\\\/_/\\///__\\\_\\/_\/_/')) == [4, 2, 1, 19, 9]
list(flood_area(r'_/_\_')) == []
</pre>
{% endif %}

</div>

<p><strong>Входные данные: </strong>
{% if interpreter.slug == "js-node" %}
{% else %}
Схема поперечного сечения (строка).
{% endif %}
</p>

<p><strong>Выходные данные: </strong>
Количество затопленных клеток (список/итератор, содержащий целые числа).
</p>


<!--
<p>
<strong>How it is used:</strong><br>
</p>
-->

<p>
<strong>Предусловия:</strong><br>
<ul>
    <li>1 &le; len(diagram) &le; 500</li>
</ul>
</p>

<p><i>Задача взята отсюда: <a href="http://judge.u-aizu.ac.jp/onlinejudge/description.jsp?id=ALDS1_3_D">AIZU ONLINE JUDGE(ALDS1_3_D: Areas on the Cross-Section Diagram).</a></i></p>
